{% extends "layout.twig" %}
{% block title %} Ver Partes – Nemorastur {% endblock %}
{% block body %}
    {% if session.user != null and session.user == "admin" %}
        <div id="custom-search-input">
            <form method="get" action="/users/searchOffers">
                <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                    <select name="criteria" class="form-control">
                        <option value="client" {% if criteria == 'client' %}selected{% endif %}>Nombre del cliente</option>
                        <option value="date" {% if criteria == 'date' %}selected{% endif %}>Fecha</option>
                        <option value="state" {% if criteria == 'state' %}selected{% endif %}>Estado de facturación</option>
                        <option value="employee" {% if criteria == 'employee' %}selected{% endif %}>Empleado que realizó el trabajo</option>
                    </select>
                    <input id="search" type="text" class="search-query form-control" placeholder="Buscar" name="search" value="{{ search }}">
                    <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
            </form>
        </div>
        <h1>Busca los partes:</h1>
    {% endif %}

    {% if session.user != null and session.user != "admin" %}
        <h1>Aquí puede consultar sus partes realizados:</h1>
    {% endif %}

    <div class="row text-right">
        <a href="/users/add" class="btn btn-info" role="button">Agregar nuevo parte</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Lugar</th>
                <th>Hora de comienzo de la obra</th>
                <th>Hora de final de la obra</th>
                <th>Duración en horas</th>
                <th>Empleado que realizó el trabajo</th>
                <th>Obra nueva/Mantenimiento</th>
                <th>Tareas que se realizan</th>
                <th>Material empleado</th>
                <th>Observaciones</th>
                <th>Estado de facturación</th>
                <th>¿Desea eliminarlo?</th>
                {% if session.user != null and session.user == "admin" %}
                    <th>¿Desea cambiar el estado de facturación?</th>
                {% endif %}
                {% if session.user != null and session.user == "admin" %}
                    <th>¿Desea acceder a sus datos?</th>
                {% endif %}
                <th>¿Desea descargar las imágenes?</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.date }}</td>
                    <td>{{ offer.client }}</td>
                    <td>{{ offer.place }}</td>
                    <td>{{ offer.dateS }}</td>
                    <td>{{ offer.dateF }}</td>
                    <td>{{ offer.duration }}</td>
                    <td>{{ offer.employee }}</td>
                    <td>{{ offer.type }}</td>
                    <td>{{ offer.tasks }}</td>
                    <td>{{ offer.material }}</td>
                    <td>{{ offer.observations }}</td>
                    <td>{{ offer.state }}</td>
                    <td><a href="/users/elimina/{{ offer._id }}/{{ currentPage }}">Eliminar</a> <br>
                        {% if session.user != null and session.user == "admin" and offer.state == "PENDIENTE DE FACTURAR" %}
                            <td><a href="/users/facturar/{{ offer._id }}/{{ currentPage }}">Facturar</a> <br>
                        {% endif %}
                        {% if session.user != null and session.user == "admin" and offer.state == "FACTURADO" %}
                            <td><a href="/users/mover/{{ offer._id }}/{{ currentPage }}">Mover a pendiente</a> <br>
                        {% endif %}
                        {% if session.user != null and session.user == "admin" %}
                            <td><a href="/users/editar/{{ offer._id }}/{{ currentPage }}">Acceder</a> </td>
                        {% endif %}
                    </td>
                    <td>
                        {% if offer.images.length > 0 %}
                            <div>
                                <strong>Imágenes:</strong>
                                <ul>
                                    {% for imageUrl in offer.images %}
                                        <li><a href="{{ imageUrl }}" download>Descargar imagen</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            No hay imágenes disponibles
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row text-center">
        <ul class="pagination">
            <!-- Enlace a la primera página -->
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="/users/{{ session.user == 'admin' ? 'searchOffers' : 'myoffers' }}?page=1&search={{ search }}&criteria={{ criteria }}">Primera</a>
                </li>
            {% endif %}

            <!-- Enlace a la página anterior -->
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="/users/{{ session.user == 'admin' ? 'searchOffers' : 'myoffers' }}?page={{ currentPage - 1 }}&search={{ search }}&criteria={{ criteria }}">Anterior</a>
                </li>
            {% endif %}

            <!-- Enlaces a las páginas cercanas -->
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/users/{{ session.user == 'admin' ? 'searchOffers' : 'myoffers' }}?page={{ page }}&search={{ search }}&criteria={{ criteria }}">{{ page }}</a>
                </li>
            {% endfor %}

            <!-- Enlace a la página siguiente -->
            {% if currentPage < lastPage %}
                <li class="page-item">
                    <a class="page-link" href="/users/{{ session.user == 'admin' ? 'searchOffers' : 'myoffers' }}?page={{ currentPage + 1 }}&search={{ search }}&criteria={{ criteria }}">Siguiente</a>
                </li>
            {% endif %}

            <!-- Enlace a la última página -->
            {% if currentPage < lastPage %}
                <li class="page-item">
                    <a class="page-link" href="/users/{{ session.user == 'admin' ? 'searchOffers' : 'myoffers' }}?page={{ lastPage }}&search={{ search }}&criteria={{ criteria }}">Última</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <script>
        $("#pi-" + "{{ currentPage }}").addClass("active");
    </script>

    <script>
        let urlParams = new URLSearchParams(window.location.search)
        let errors = urlParams.get("errors")
        let page = urlParams.get("page")
        if (errors != null)
            $("#errors").append(`<li class="text-danger">${errors}</li>`);
        if (page != null)
            $("#pi-" + "{{ page }}").addClass("active");
    </script>

{% endblock %}