{% extends "layout.twig" %}
{% block title %} Mis Partes – Nemorastur {% endblock %}
{% block body %}
    <div id="custom-search-input ">
        <form method="get" action="/offers/searchOffers">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input id="search" type="text" class="search-query form-control"
                       placeholder="Nombre del parte" name="search" value={{ search }}>
                <span class="input-group-btn">
                <button class="btn" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </form>
    </div>
    <h1>Busca partes por título</h1>
    <div class="row text-right">
        <a href="/offers/add" class="btn btn-info" role="button">Agregar nuevo parte</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Lugar</th>
                <th>Hora de comienzo</th>
                <th>Hora de final</th>
                <th>Duración en horas</th>
                <th>Empleado(s) que realizaron el trabajo</th>
                <th>Obra nueva/Mantenimiento</th>
                <th>Tareas que se realizan</th>
                <th>Material empleado</th>
                <th>Presupuesto en €</th>
                <th>Observaciones</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.date }}</td>
                    <td>{{ offer.client }}</td>
                    <td>{{ offer.place }}</td>
                    <td>{{ offer.dateS }}</td>
                    <td>{{ offer.dateF }}</td>
                    <td>{{ offer.duration }}</td>
                    <td>{{ offer.employees }}</td>
                    <td>{{ offer.character }}</td>
                    <td>{{ offer.tasks }}</td>
                    <td>{{ offer.material }}</td>
                    <td>{{ offer.cash }}</td>
                    <td>{{ offer.observations }}</td>
                    <td><a href="/offers/delete/{{ offer._id }}">Eliminar</a> <br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    {% if search %}
                        <a class="page-link" href="/offers/myoffers?page={{ page }}&search={{ search }}">{{ page }}</a>
                    {% else %}
                        <a class="page-link" href="/offers/myoffers?page={{ page }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>

    <script>
        let urlParams = new URLSearchParams(window.location.search)
        let errors = urlParams.get("errors")
        let page = urlParams.get("page")
        if (errors != null)
            $("#errors").append(`<li class="text-danger">${errors}</li>`);
        if (page != null)
            $("#pi-" + "{{ page }}").addClass("active");
    </script>

{% endblock %}